.container-general {
    display: grid;
    grid-template-columns: 30% 70%; /* Ajusta la proporción entre columnas */
    gap: 20px; /* Espacio entre columnas */
}

.columna-izquierda {
    background-color: #ffcee4; /* Color de fondo para diferenciar */
    padding: 20px; /* Espaciado interno */

}

.columna-derecha {
    background-color: #ffffff; /* Color de fondo para diferenciar */
    padding: 20px; /* Espaciado interno */
}

.nombre {
    color: #622842;
    align-items: center;
}

.nombre2 {
    color: #622842;
}

.titulos{
    justify-content: center;
    align-content: center;
}
p{
    color: #622842;
}

a{
    text-decoration: #622842;
}