.container-general {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
}

.columna-izquierda {
    background-color: #ffcee4;
    padding: 20px;

}

.columna-derecha {
    background-color: #ffffff;
    padding: 20px;
}

.nombre {
    color: #622842;
}

.nombre2 {
    color: #622842;
}

.titulos{

}
p{
    color: #622842;
}

a{
    text-decoration: #622842;
}